name: Docker Image CI

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    environment: dev 
    strategy:
      matrix:
        include:
          - context: udagram-reverseproxy
            tags: ahmedhesham6/udagram-reverseproxy:latest
          - context: udagram-api-user
            tags: ahmedhesham6/udagram-api-user:latest
          - context: udagram-api-feed
            tags: ahmedhesham6/udagram-api-feed:latest
          - context: udagram-frontend
            tags: ahmedhesham6/udagram-frontend:latest
    steps:
      - uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.context }}
          push: true
          tags: ${{ matrix.tags }}